* {
    margin: 0px;
}

#logo {
    padding: 25px 598px 0px 22px;
    display: flex;
    background: white;
    width: 650px;
    height: 56px;
}

#container {
    background-image: url(./assets/fundo.png);
    background-color: #FAC32B;
    background-size: cover;
    width: 1271px;
    height: 400px;
    padding: 0px, 48px, 0px, 48px;
    gap: 32px;
    position: relative;
}

#logo-dois img {
    width: 644px;
    height: 400px;
    position: absolute;
    top: 80px;
    left: 600px;
}

#text {
    position: absolute;
    top: 255px;
    margin-left: 32px;
    font-weight: 900;
    font-size: 36px;
    font-style: normal;
    line-height: normal;
}